# Salin file ini menjadi file bernama '.env' lalu isi password kamu sendiri
POSTGRES_USER=isi_username_database_disini
POSTGRES_PASSWORD=isi_password_rahasia_disini
POSTGRES_DB=isi_nama_database_disini