# Salin file ini menjadi file bernama '.env' lalu isi dengan password kamu sendiri
POSTGRES_USER=YOUR_DATABASE_USERNAME
POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD
POSTGRES_DB=YOUR_DATABASE_NAME

# Gunakan petik tunggal untuk mengunci URI koneksi Anda
# Ganti YOUR_DATABASE_PASSWORD di bawah ini sesuai dengan POSTGRES_PASSWORD yang kamu buat di atas
AIRFLOW_CONN_POSTGRES_DWH='postgres://airflow:YOUR_DATABASE_PASSWORD@postgres:5432/data_warehouse'
AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT='google_cloud_platform://?key_path=%2Fopt%2Fairflow%2Fdags%2Fsql%2Fservice_account.json'

# ⚠️ CATATAN PENTING UNTUK GOOGLE CLOUD:
# Pastikan kamu sudah menaruh file 'service_account.json' milikmu 
# ke dalam folder: ./dags/sql/service_account.json