pandas==2.0.3
numpy==1.24.3
sqlalchemy==1.4.47
psycopg2-binary==2.9.9
dbt-core==1.7.4
dbt-postgres==1.7.4
dbt-duckdb==1.7.0
apache-airflow-providers-google==10.1.0
apache-airflow-providers-postgres==5.7.0
duckdb==1.0.0
